<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <title>Book Show</title>
</head>
<body>
    <div class="container d-flex justify-content-around">
        <div class="w-30">
            <h1 class="bg-dark text-warning p-2 text-center">Title: {{book.title}}</h1>
            <h5>Favorited by:</h5>
            <ul class="list-group">
                {% for author in book.authors_who_favorited %}
                <li class="list-group-item">{{author.name}}</li>
                {% endfor %}
            </ul>
            <a href="/authors" class="btn btn-info mt-2">Authors</a>
            <a href="/books" class="btn btn-dark text-warning mt-2">Books</a>
        </div>
        <div class="w-30">
            <h1 class="bg-dark text-warning p-2 text-center">Add Book's Favorite</h1>
            <form action="/add_fav_author" method="post">
                <input type="hidden" name="book_id" value="{{book.id}}">
                <label for="author_id">Author:</label>
                <select class="form-select" name="author_id" id="author">
                    {% for author in unfavorited_authors %}
                    <option value={{author.id}}>{{author.name}}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Add" class="btn btn-warning mt-2">
            </form>
        </div>
    </div>
</body>
</html>